.general-setting-wrapper {
    padding: 0 10px;
}

.general-setting {
    background: var(--background-color--1);
    color: var(--text-color--1);
    text-transform: uppercase;
    font-size: 12px;
    border: none;
}

.general-setting--language {
    width: 100px;
}

.general-setting:focus {
    border: none;
    outline: none;
}