#account-page .page-title{
    margin-top: 80px;
}

#account-page .logout-btn {
    display: flex;
    align-items: center;
    margin: 30px auto 0;
    cursor: pointer;
}

#account-page .logout-btn span {
    margin-left: 10px;
    font-size: 15px;
}

#account-page .bottom {
    display: flex;
    margin-top: 70px;
    padding-top: 50px;
    border-top: 1px solid var(--border-color--1);
    margin-bottom: 50px;
}

#account-page .bottom .title {
    font-family: var(--font-title);
    font-size: 28px;
    margin-bottom: 20px;
}

#account-page .order-history {
    flex-grow: 3;
} 

#account-page .bottom p {
    font-size: 18px;
}

#account-page .account-details {
    flex-grow: 1;
} 