.empty-cart {
    margin-top: 100px;
}

.empty-cart .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-cart .content-wrapper p {
    margin-top: 55px;
    margin-bottom: 20px;
    font-size: 18px;
}