.product-wrapper {
    padding: 0 15px 35px;
}

.product-wrapper .img-wrapper {
    border: 1px solid var(--border-color--1);
    border-radius: 2px;
    width: 100%;
    height: 375px;
    position: relative;
}

.product-wrapper .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
}

.product-wrapper .img-wrapper img.second-img {
    opacity: 0;
    transition: opacity .2s ease-in;
}

.product-wrapper .img-wrapper:hover img.second-img {
    opacity: 1;
}

.product-wrapper .quick-view-wrapper {
    width: 130px;
    height: 35px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
} 

.product-wrapper .quick-view {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    border: 1px solid var(--border-color--1);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    transition: all .2s ease-in;
}

.product-wrapper .quick-view-wrapper:hover .quick-view{
    opacity: 0;
    transform: translateX(-100%);
}

.product-wrapper .quick-view-hover {
    width: max-content;
    height: 100%;
    padding: 0 10px;
    border: 1px solid var(--border-color--1);
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform .2s ease-in;
}

.product-wrapper .quick-view-hover svg, .product-wrapper .quick-view-hover span {
    flex-shrink: 0;
}

.product-wrapper .quick-view-hover span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1em;
    transition: color .1s ease-in;
    margin-left: 10px;
}

.product-wrapper .quick-view-wrapper:hover .quick-view-hover{
    transform: translateX(0);
}

.product-wrapper .quick-view-wrapper:hover .quick-view-hover span {
    color: var(--text-color--2);
}

.product-wrapper .content-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-wrapper .content-wrapper .vendor {
    font-size: 12px;
    letter-spacing: 0.1rem;
    color: var(--text-color);
    opacity: .6;
    margin-bottom: 10px;
}

.product-wrapper .content-wrapper .title {
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 5px;
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--font-primary);
}

.product-wrapper .content-wrapper .title:hover {
    color: var(--text-color--2);
}

.product-wrapper .content-wrapper .title::first-letter {
    text-transform: uppercase;
}