.collection-slider {
    max-width: 1280px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.collection-slider .swiper-horizontal {
    padding: 0 10px;
}

.collection-slider .swiper-horizontal .swiper-button-prev, .collection-slider .swiper-horizontal .swiper-button-next {
    opacity: 0;
}

.collection-slider .swiper-button-prev {
    left: 0;
}

.collection-slider .swiper-button-next {
    right: 0;
}

.collection-slider:hover .swiper-button-prev, .collection-slider:hover .swiper-button-next {
    opacity: 1;
}

.collection-slider:hover .swiper-button-next.swiper-button-disabled, .collection-slider:hover .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
}