.featured-product.section {
    padding-top: var(--padding-top-section--1);
    padding-bottom: 140px;
}

.featured-product .swiper-horizontal>.swiper-pagination-bullets {
    flex-direction: column;
    display: flex;
    top: 0;
    left: 0;
    bottom: initial;
}

.featured-product .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 80px;
    height: 95px;
    background: none;
    opacity: 1;
    margin-bottom: 10px;
    border-radius: 0;
}

.featured-product .swiper-pagination-bullet-active {
    border: 1px solid #000000;
}