.filter-wrapper {
    margin-bottom: 30px;
}

.filter-wrapper strong{
    margin-right: 20px;
    position: relative;
}

.filter-option {
    position: relative;
    margin-right: 20px;
}


.color-option, .size-option {
    border: 1px solid;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
    display: inline-block;
}

.selected-tags span {
    padding: 5px;
    border: 1px solid;
    display: inline-block;
    margin-right: 10px;
    background: #dedede;
    cursor: pointer;
}