#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: var(--color-white);
    position: relative;
    z-index: 1;
    border-bottom: 1px solid var(--border-color--1);
}