#blogs-page header{
    max-width: 1270px;
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-title);
    padding: 50px 0;
    border-bottom: 1px solid var(--border-color--1);
}

#blogs-page .date {
    font-size: 30px;
}

#blogs-page .select-wrapper {
    text-align: center;
    margin-top: 50px;
}

#blogs-page select {
    border: none;
    font-size: 23px;
    color: var(--text-color--2);
}

#blogs-page .articles-container {
    position: relative;
    padding-bottom: 100px;
}

#blogs-page .articles-wrapper {
    margin-top: 50px;
}

#blogs-page .article-wrapper {
    margin-bottom: 100px;
}