.products-page {
    max-width: 1280px;
    margin: 50px auto;
}

.products-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.products-container .product-wrapper {
    width: 25%;
}
