.section {
    padding-top: var(--padding-top-section--1);
}

.section .title, .sub-title {
    text-align: center;
}

.section .title {
    font-family: var(--font-title);
    font-size: 36px;
    margin-bottom: 16px;
}

.section .sub-title {
    font-size: 18.5px;
    margin-bottom: 48px;
}


.section .swiper-button-prev, .section .swiper-button-next {
    border: 1px solid var(--border-color--2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: all .2s ease-in;
}

.section .swiper-button-prev:hover, .section .swiper-button-next:hover {
    background: var(--background-color--1);
}

.section .swiper-button-prev::after {
    content: url("data:image/svg+xml, %3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 5.5H2' stroke='%23103a3a' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M5.30002 1L0.800018 5.5L5.30002 10' stroke='%23103a3a' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.section .swiper-button-next::after {
    content: url("data:image/svg+xml, %3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5H13' stroke='%23103a3a' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M9.69995 1L14.2 5.5L9.69995 10' stroke='%23103a3a' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.section .swiper-button-prev:hover::after {
    content: url("data:image/svg+xml, %3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 5.5H2' stroke='white' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M5.30002 1L0.800018 5.5L5.30002 10' stroke='white' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.section .swiper-button-next:hover::after {
    content: url("data:image/svg+xml, %3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5H13' stroke='white' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M9.69995 1L14.2 5.5L9.69995 10' stroke='white' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.section .swiper-button-prev::after, .section .swiper-button-next::after {
    position: absolute;
    top: -7px;
}

.section .swiper-button-prev::after, .section .swiper-button-next::after {
    position: absolute;
    top: -7px;
}

.custom-pagination-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 2px solid var(--background-color--1);
    opacity: .5;
}

.custom-pagination-slider .swiper-pagination-bullet-active {
    background: var(--background-color--1);
    opacity: 1;
}

.blurred-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 11;
    opacity: 0;
    background: rgba(196,196,196,.7);
    backdrop-filter: blur(3px);
}

.blurred-bg.open {
    opacity: 1;
    pointer-events: all;
}

.dropdown-btn::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid var(--background-color--1);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    top: 40%;
    right: -15px;
}