.section {
    padding-top: 50px;
}

.section .title, .sub-title {
    text-align: center;
}

.section .title {
    font-family: var(--font-title);
    font-size: 36px;
    margin-bottom: 16px;
}

.section .sub-title {
    font-size: 18.5px;
    margin-bottom: 48px;
}