* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-primary);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

ul, li {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    border: none;
    background: none;
}

/* font */
@font-face {
    font-family: "Pragmatica";
    src: url(./fonts/Pragmatica-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: "Nimbus";
    src: url(./fonts/Nimbus-Sans-D-OT-Light_32752.ttf) format('truetype');
}

@font-face {
    font-family: "ITC NB";
    src: url(./fonts/ITC\ New\ Baskerville.ttf) format('truetype');
}

/* color */
:root {
    --font-primary: "Nimbus";
    --font-title: "ITC NB";
    --color-primary: #103a3a;
    --color-white: #ffffff;
    --color-star: #f1B824;
    --text-color: #103a3a;
    --text-color--1: #ffffff;
    --text-color--2: #c25b41;
    --background-color--1: #103a3a;
    --background-color--2: #c25b41;
    --background-color--3: #f6f6f0;
    --border-color--1: #eeeeee;
    --border-color--2: #103a3a;
    --border-color--3: #dedede;
    --color-text-hover: #c25b41;
    --padding-top-section--1: 110px
}

.btn {
    text-transform: uppercase;
    text-align: center;
    background: var(--background-color--1);
    border-radius: 3px;
    color: var(--text-color--1);
    font-weight: 900;
    letter-spacing: 0.1rem;
    cursor: pointer;
    height: 50px;
}

.page-width {
    max-width: 1280px;
    margin: 0 auto;
}