.image-text-slider  {
}

.image-text-slider .img-wrapper {
    height: 100%;
    width: 75%;
    flex-shrink: 0;
}

.image-text-slider .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text-slider.section .title {
    text-align: left;
    margin-bottom: 20px;
}

.image-text-slider.section .sub-title {
    text-align: left;
    line-height: 30px;
    margin-bottom: 30px;
}

.image-text-slider.section .swiper-pagination-bullets.swiper-pagination-horizontal {
    right: 360px;
    left: initial;
    bottom: 60px;
    width: fit-content;
}